.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1040px;
}

.main-title {
    font-size: $fontSize1;
    font-weight: 500;
    text-transform: uppercase;
    margin: 28px 0;
}

.check {
    text-transform: uppercase;
    color: $colorSecondary;
    text-decoration: none;
}

.align-to-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
