.container {
    width: 100%;
    margin: 0 auto;
    max-width: 1040px;
}

.main-title {
    font-size: $fontSize1;
    font-weight: 500;
    text-transform: uppercase;
    margin: 28px 0;
}

.check {
    text-transform: uppercase;
    color: $colorSecondary;
    text-decoration: none;
    font-size: $fontSize3;
    transition: 0.5s color;

    &:hover {
        color: $colorPrimary;
    }
}

.align-to-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blue-block {
    width: 100px;
    height: 5px;
    background: $colorSecondary;
}

.subtitle {
    font-size: $fontSize3;
    margin: 18px 0;
}

.btn {
    background: $colorSecondary;
    color: $colorTertiary;
    border: none;
    padding: 10px 15px;
    margin-top: 45px;
    font-size: $fontSize3;
    text-transform: uppercase;
    border-radius: 2px;
    transition: 0.7s;

    &:hover {
        background: $colorPrimary;
    }
}
