$fontPrimary : 'Raleway', sans-serif;

$fontSize1 : 2.25rem;
$fontSize2 : 1.7rem;
$fontSize3 : 1.3rem;


$colorPrimary : #112e3c;
$colorSecondary : #37b9c0;
$colorTertiary : #f9f9f9;
$colorQuaternary : #505050;
