@import "partials/_reset.scss";
@import "_grid.scss";
@import "_variables.scss";
@import "_global_classes.scss";
@import "partials/_header.scss";
@import "partials/_slider.scss";
@import "partials/_product_options.scss";
@import "partials/_realizations.scss";
@import "partials/_partner_companies.scss";


html, body {
    font-family: $fontPrimary;
    font-size: 14px;
    color: $colorPrimary;

}
