### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule o-nas o-nas.html
RewriteRule wypozycz wypozycz.html
RewriteRule zamow zamow.html
RewriteRule realizacje realizacje.html
RewriteRule kontakt kontakt.html
RewriteRule dr-irena-iris dr-irena-iris.html
RewriteRule mercedes mercedes.html
RewriteRule jack-daniels jack-daniels.html
RewriteRule bmw bmw.html
RewriteRule spar spar.html
RewriteRule asseco asseco.html
