.form-section {
    height: 900px;
}

.form {
    margin:3rem auto;
    max-width:40rem;

    .form-row {
        margin-bottom:1rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}


.form input[type=text],
.form input[type=email],
.form input[type=tel],
.form textarea {
    box-shadow:inset 0 1px 5px rgba(0,0,0,0.02);
    border-radius:0.1rem;
    padding:0.8rem;
    border:none;
    background: $colorTertiary;
    width:100%;
    color:$colorPrimary;
}

.form input[type=text]:focus,
.form input[type=email]:focus,
.form input[type=tel]:focus,
.form textarea:focus {
    border:1px solid $colorSecondary;
    box-shadow:inset 0 0 0 1px $colorSecondary;
    outline:none;
}

.form textarea {
    height:10rem;
    resize: none;
}

.form label {
    font-size: $fontSize3;
    display: block;
    margin-bottom:0.5rem;
}

.required-el {
    font-size: $fontSize2;
    color: $colorSenary;
    margin-top: 3px;
}

.required-text {
    color: $colorSenary;
}

.form .honey-row {
    display:none;
}


/* walidacja */
.form input[type=text].error,
.form input[type=email].error,
.form textarea.error {
    border: 1px solid $colorSenary;
}
.field-error {
    color:$colorSenary;
    padding:0.5rem 0;
    font-size:0.8rem;
}

.elem-is-busy {
    position: relative;
    pointer-events: none;
    opacity:0.5;
}
.elem-is-busy::after {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-right-color: rgba(0,0,0,0.7);
    transform: translate(-50%, -50%) rotate(0deg);
    content:'';
    animation: rotateSingleLoading 0.3s infinite linear;
    z-index: 100;
}
@keyframes rotateSingleLoading {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

//RWD
@media screen and (max-width:460px) {
    .form-intro, .form {
        margin: 0 10px;
    }

}
