.opction-content {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .opction-text{
        text-align: center;
        width: 300px;
        padding: 17px 25px 22px 25px;
    }
}

//RWD
@media screen and (max-width:730px) {
    .product-options .row .opction-content {height: 300px;}
}
