.realizations {
    min-height: 600px;
    background: $colorTertiary;
}

.box-with-realization {
    height: 330px;
    background: $colorQuinary;
    position: relative;

    &:hover .realization-image {
        transform: scale(1.12);
    }

    .realization-image {
        transition: 0.7s;
    }

    .img-holder {
        max-width: 314.33px;
        max-height: 204.27px;
        overflow: hidden;
    }

    .realization-message {
        height: 180px;
        max-width: 90%;
        background: rgba(249,249,249,0.7);
        position: absolute;
        bottom: 5px;
        left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .realization-tittle {
            font-weight: 600;
            font-size: $fontSize3;
            text-align: center;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .realizactin-text {
            text-align: center;
            padding: 15px 10px 20px 10px;
        }
    }
}
