.realizations {
    height: 600px;
    background: $colorTertiary;

    .main-title {
        font-size: $fontSize1;
        font-weight: 500;
        text-transform: uppercase;
        margin: 23px 0;
    }

    .blue-block {
        width: 100px;
        height: 5px;
        background: $colorSecondary;
    }

    .subtitle {
        font-size: $fontSize3;
        margin: 18px 0;
    }
}

.box-with-realization {
    height: 330px;
    background: $colorQuinary;


    .box-img-1, .box-img-2, .box-img-3 {
        height: 300px;
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
    }

    .box-img-1 {
        background-image: url("../images/steplar_mercedes_red.jpg");
    }

    .box-img-2 {
        background-image: url("../images/steplar_dr_irena_eris.jpg");
    }

    .box-img-3 {
        background-image: url("../images/steplar_jack_daniels.jpg");
    }

    .realization-message {
        height: 170px;
        max-width: 90%;
        background: rgba(249,249,249,0.7);
        position: absolute;
        bottom: -20px;
        left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.7s;

        &:hover {
            transform: scale(1.11);
        }

        .realization-tittle {
            font-weight: 600;
            font-size: $fontSize3;
            text-align: center;
        }

        .realizactin-text {
            text-align: center;
            padding: 15px 10px 20px 10px;
        }
    }
}

.realizations button {
    background: $colorSecondary;
    color: $colorTertiary;
    border: none;
    padding: 10px 15px;
    margin-top: 45px;
    font-size: $fontSize3;
    text-transform: uppercase;
    transition: 0.7s;

    &:hover {
        background: $colorPrimary;
    }
}
