.other-boxes {
    display: flex;

    .box {
        width: 50%;
    }

    .opction-content {
        height: 300px;
        justify-content: flex-start;

        .opction-title {
            margin-bottom: 15px;
        }
    }
}

// RWD
@media screen and (max-width:460px) {
    .other-boxes {
        flex-direction: column;
        align-items: center;
        .opction-content {
            width: 100%;
        }
    }
}
