.slider-section {
    height: 450px;

    .slider {
        height: 450px;
        max-width: 100%;
        position: relative;
        z-index: 100;

        .baner {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            visibility: hidden;
            border-bottom: 4px solid $colorSecondary;
            transition: 1s 0s ease-in-out all;
        }

        .arrow-left, .arrow-right, .slider-blocks {
            position: absolute;
            z-index: 1;
        }
        .arrow-left {
            top: 50%;
            left: 20px;

            &:hover {
                cursor: pointer;
            }
        }

        .arrow-right {
            top: 50%;
            right: 20px;

            &:hover {
                cursor: pointer;
            }
        }

        .slider-blocks {
            bottom: 20px;
            left: 450px;

            .block {
                width: 30px;
                height: 3.2px;
                background: $colorTertiary;
                display: inline-block;
                margin-left: 3px;
            }

            .active-block {
                background: $colorSecondary;
            }
        }
    }
}

// slider
.slider .baner.active {
    opacity: 1;
    visibility: visible;
}
